{% extends "base.html" %}

{% block title %}
Create Blog
{% endblock %}

{% block content %}

<div class="form-card">

    <h1>Create Blog</h1>

    <form
        method="POST"
        enctype="multipart/form-data">

        <input
            type="text"
            name="title"
            placeholder="Blog Title"
            required>

        <input
            type="text"
            name="author"
            placeholder="Author Name"
            required>

        <input
            type="file"
            name="image"
            accept="image/*"
            required>

        <textarea
            name="content"
            placeholder="Write your story..."
            required></textarea>

        <button type="submit">

            Publish Blog

        </button>

    </form>

</div>

{% endblock %}