{% extends "base.html" %}

{% block title %}
Delete Blog
{% endblock %}

{% block content %}

<div class="delete-card">

    <h1>
        Delete Blog
    </h1>

    <p>

        Are you sure you want to delete

    </p>

    <h2>

        {{ blog.title }}

    </h2>

    <form method="POST">

        <button
            type="submit"
            class="danger-btn">

            Delete Permanently

        </button>

    </form>

    <a href="/"
       class="cancel-link">

       Cancel

    </a>

</div>

{% endblock %}