{% extends "base.html" %}

{% block title %}
Edit Blog
{% endblock %}

{% block content %}

<div class="form-card">

    <h1>Edit Blog</h1>

    <form
        method="POST"
        enctype="multipart/form-data">

        <input
            type="text"
            name="title"
            value="{{ blog.title }}"
            required>

        <input
            type="text"
            name="author"
            value="{{ blog.author }}"
            required>

        <input
            type="file"
            name="image"
            accept="image/*">

        <textarea
            name="content"
            required>{{ blog.content }}</textarea>

        <button type="submit">

            Update Blog

        </button>

    </form>

</div>

{% endblock %}